@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hackernews-color-primary-lightest: #ff923c;
  --hackernews-color-primary-lighter: #ff7e17;
  --hackernews-color-primary-light: #ff770b;
  --hackernews-color-primary: #f26b00;
  --hackernews-color-primary-dark: #da6000;
  --hackernews-color-primary-darker: #ce5b00;
  --hackernews-color-primary-darkest: #a94b00;

  --hackernews-color-neutral: #666666;

  --alert-color-primary: #3578e5;
  --alert-color-secondary: #ebedf0;
  --alert-color-success: #00a400;
  --alert-color-info: #54c7ec;
  --alert-color-warning: #ffba00;
  --alert-color-danger: #fa383e;
}
body {
  font-size: 14px;
}
.app-header {
  background: var(--hackernews-color-primary);
  a:hover {
    color: var(--hackernews-color-gray-900);
    text-decoration: none;
  }

  a.active {
    color: white;
  }
}

.app-content {
  background: rgb(246, 246, 239);
}

a[role="button"] {
  text-decoration: underline;
  s &:hover {
    cursor: pointer;
  }
}

div.votearrow {
  margin: 0 .4rem;
  margin-top: .4rem;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid var(--hackernews-color-neutral);
  transition: border-bottom 100ms ease;
  &:hover {
    border-bottom: 8px solid var(--hackernews-color-primary-lightest);
  }
}

textarea {
  font-family: monospace;
  font-size: 10pt;
  resize: both;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.95);
}
